doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport',content = 'width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        block title
            title Hooshang MultiPlayer Online Game
        link(rel='stylesheet',href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet',href='/css/style.css')

        //link(rel='stylesheet',href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
        //link(rel='stylesheet',href='https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab',type='text/css')

        block styles
        block topScripts
    body
        block body
        block scripts
            script(src='/bower_components/jquery/dist/jquery.min.js')
            script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
            script(src='/socket.io/socket.io.js')
            script(src='/reload/reload.js')
            //script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
            //script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
            //script(src='https://cdn.socket.io/socket.io-1.4.5.js')
